.directBody{
    background: url(../../img/Blush6.jpg);
    background-size:cover;
    padding-top: 10px;
    padding-bottom: 50px !important;
    height: 100%vh;
}
.container{
    background-color: rgb(75, 74, 74, 0.5) !important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    margin-top: 50px;
}
.leadDirect{
    font-size: 26px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: antiquewhite;
}
.passwordBtn{
    background-color: #ccccff !important;
    border: cornsilk !important;
    font-size: 18px;
    padding-bottom: 6px;
    margin-left: 320px !important;
}
