.artistsBody{
    background: url("../../img/PiranhaLucy2-26.jpg");
    background-size: contain;
    padding-bottom: 50px;
    padding-top: 10px;
}

.shopping-list{
    background-color: rgb(75, 74, 74, 0.5) !important;    
    text-align: center;
    margin: 70px 75px 70px 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.artistGenre{
    color: #F39303;
}
.artistHome{
    color:#EAE9E9;
}
.artistName{
    font-family: 'Calistoga', cursive !important;
    color: rgb(236,81,161) !important;
}