.landBody{
    background: url(../../img/Zack10.jpg);
    background-size:cover;
    text-align: center;
    height: 80vh !important;
}
h1{
    font-family: 'Monoton', cursive;
    font-size: 85px !important;
}
.mainBtn{
    background-color:  #F39303;
    border: 0pt;
}
.lead{
    font-size: 18px !important;
    color: antiquewhite;
    padding: 20px;
}
.homeContainer{
    /* margin-top: 15px !important; */
    margin-top: 60px !important;
    background-color: rgb(75, 74, 74, 0.5) !important;
    padding-bottom: 40px;
    margin-left: 55px;
    margin-right: 55px;
    /* padding-top: 30px; */
    /* margin-bottom: 25px !important; */
}
