body{
    background: url(../../img/Zack4.jpg);
    background-size:cover;
    width: 100%;
    text-align: center;
}
.jumbotron{
    background-color: rgb(75, 74, 74, 0.5);
}
.big{
    font-family: 'Monoton', cursive;
    font-size: 115px;
}
.mainBtn{
    background-color:  #F39303;
    border: 0pt;
}
.lead{
    font-size: 40px;
    color: antiquewhite;
}
