.formBody{
    background: url(../../img/Colin12.jpg);
    background-size:cover;  
    padding-top: 20px;
}
.jumbotron{
    padding-bottom: 50px;
    background-color: rgb(75, 74, 74, 0.5);
    margin: 0px 40px 0px 40px !important;
}
.lead{
    font-size: 40px;
    color: antiquewhite;
    font-family: 'Calistoga', cursive !important;
}
.container{
    margin-top: 50px !important;
}
.contact{
    color: #F39303;
}
.name, .email, .topic, .exText{
    color: #F39303;
    font-family: 'Calistoga', cursive;
    font-size: 24px;
    text-align: left;
}
.formLink{
    font-family: 'Calistoga', cursive !important;
    color:#F39303 ;
}
input{
    color: antiquewhite !important;
    font-kerning: 3px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
::placeholder{
    color: antiquewhite !important;    
    font-family: Arial, Helvetica, sans-serif !important;
}