.formBody{
    background: url(../../img/Colin12.jpg);
    background-size:cover;  
}
.jumbotron{
    padding-bottom: 50px;
    background-color: rgb(75, 74, 74, 0.5);
}
.big{
    font-family: 'Monoton', cursive;
    font-size: 115px;
}
.mainButton{
    background-color:  #F39303;
    border: 0pt;
}
.lead{
    font-size: 40px;
    color: antiquewhite;
    font-family: 'Calistoga', cursive !important;
}
.container{
    margin-top: 50px !important;
}
.contact{
    color: #F39303;
}
.name, .email, .topic, .exText{
    color: #F39303;
    font-family: 'Calistoga', cursive;
    font-size: 24px;
    text-align: left;

}
input{
    color: whitesmoke !important;
    font-kerning: 3px !important;
}