.showsBody{
    background: url(../../img/Crust2.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.date{
    width: 200px !important;
    text-align: center;
    margin-top: 30px;
    color: #EAE9E9 ;
    border: 2px solid #581845 ;
    padding: 10px;
}
.details{
    text-align: center;
    margin-top: 30px;
    color: white;
    border-radius: 15px 50px; 
    border: 2px solid #393637 ;
    padding: 5px;
    padding-top: 10px;
}
.detailsCard{
    background-color: rgb(143, 140, 141, 0.1);
}
a {
    color: hotpink;
  }
h2{
    font-size: 40px !important;
    color: #F39303;
    font-family: 'Monoton', cursive;
    padding-top: 20px;
    margin-bottom: 25px;

}
h3{
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color: #581845;
}
.bands, p, a{    
    font-family: 'Calistoga', cursive;

}
.time{
    font-family: 'Monoton', cursive;
    color: #EAE9E9 ;
}
