.pressBody{
    background-image: url("../../img/Zack5.jpg");
    background-position: center;
    background-size: contain;
    width: 100% !important;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left !important;
    padding-bottom: 20px;
}
h1{
    font-size: 60px !important;
    padding-top: 48px !important;
    color: #F39303;

}

  